# Gradle
.gradle
build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Google services
google-services.json

# Crashlytics
crashlytics.properties
crashlytics-build.properties

# Captures
captures/

# Misc
.DS_Store
/captures
.cxx/
*.hprof
